@use '../../sass/mixins' as *;
@use '../../sass/variables' as *;
@use '../../sass/colors' as c;
@use '../../sass/breakpoints' as *;

.signup {
  font-family: $font-family-roboto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  gap: 20px;
  @media screen and (max-width: $screen-md) {
    flex-direction: column;
  }
  &__left {
    min-width: 150px;
    width: 25%;
    background-color: #00204a;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    &-divider {
      height: 8px;
      width: 60%;
      background-color: c.$color-blue-primary;
      border-radius: 5px;
      margin-top: -10px;
      @media screen and (max-width: $screen-md) {
        width: 88%;
        align-self: center;
      }
    }
    @media screen and (max-width: $screen-md) {
      width: 100%;
      height: fit-content;
      justify-content: center;
      padding: 2px 10px;
    }

    h4 {
      font-size: 28px;
      color: white;
      @media screen and (max-width: $screen-md) {
        padding: 2px 10px;
        font-size: 26px;
      }
    }
  }
  &__right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    h4 {
      font-size: 28px;
    }
    input {
      margin-bottom: 10px;
      @include input-form;
    }
    button {
      margin: 5px 0;
      width: 100%;
      @include button(c.$color-gray, white);
      &:last-child {
        @include button(#43b5fd, c.$color-blue-primary);
        font-size: 20px;
        color: white;
        &:hover {
          background-color: c.$color-blue-dark-primary;
        }
      }

      & > img {
        position: absolute;
        left: 20px;
      }
    }
  }
  &__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    overflow-y: scroll;

    .form-separator {
      margin-top: 20px;
      margin-bottom: 20px;
      @include form-separator;
      position: relative;
      span {
        z-index: 33;
        position: absolute;
        right: 50%;
        top: -500%;
        background-color: white;
        padding: 0px 4px;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__sign-up {
    margin-top: 30px;
    text-align: center;
  }

  &__email-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    div {
      display: flex;
      justify-content: space-between;
      & > input {
        flex: 1;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  &__link {
    margin-top: 15px;
    cursor: pointer;
    color: c.$color-blue-dark-primary;
    font-weight: 600;
    &:hover {
      opacity: 80%;
    }
  }
}
