/**
 * Global color palette
 * =================================
 * - Generic colors
 * - Color scheme
 * - Common colors
 * - Links
 * - Text selection
 * - <hr>
 * - Any others..
 */
//Generic Colors
$color-gray: #444950;

// Color scheme
$color-blue-dark-primary:#00204a;
$color-blue-primary:#00bbf0;