@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/**
 * Variables
 * =================================
 * - Typography
 * - Breakpoints
 * - Paths
 * - Layout & Grid
 * - App-specific
 */

/* stylelint-disable indentation */

/**
 * Typography
 * =================================
 **/

$font-family-roboto: "Roboto", sans-serif;
$font-family-apple: system-ui, -apple-system, BlinkMacSystemFont,
  ".SFNSText-Regular", sans-serif;
$font-family-helveticat: Helvetica, Arial, sans-serif;
$font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
$font-family-rubik: "Rubik", sans-serif;
$fony-family-raleway:'Raleway', sans-serif;

