@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/**
 * Variables
 * =================================
 * - Typography
 * - Breakpoints
 * - Paths
 * - Layout & Grid
 * - App-specific
 */

/* stylelint-disable indentation */

/**
 * Typography
 * =================================
 **/

$font-family-roboto:'Roboto', sans-serif;
$font-family-apple: system-ui, -apple-system, BlinkMacSystemFont,
  ".SFNSText-Regular", sans-serif;
$font-family-helveticat: Helvetica, Arial, sans-serif;
$font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
$font-family-rubik: 'Rubik', sans-serif;



