@use '../../sass/variables' as *;
@use '../../sass/colors' as *;

.dashboard {
  display: flex;
 background-color:$color-white-light;






















 //dark theme
  &.dark{
    background-color: $color-blue-dark-primary;
  }

}
