@use '../../sass/colors' as *;
@use '../../sass/breakpoints' as *;


.modal {
  width: 100vw;
  height: calc(100vh - 40px);
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


  &__body {
    height: 80vh;
    width: 80vw;
    background-color: $color-white-light;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 3;
      font-size: 24px;
      svg {
        cursor: pointer;
        &:hover {
          color: $color-gray;
        }
        @media screen and(max-width:$screen-md){
            color:$color-white-light
        }
      }
    }
  }
}
