@use '../../sass/variables' as *;
@use '../../sass/colors' as *;

.sidebar {
  position: absolute;

  width: 150px;
  height: 30px;
  margin-top: 40px;
  right: 50px;
  background-color: $color-blue-dark-primary;
  z-index: 0;
  border-radius: 40px;
  transition: width ease-in 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 5px 10px;
  svg {
    margin-left: 20px;
  }
  //   background-color: rgba(67, 182, 253, 0.123);
}
