@use './sass/variables' as *;
@import "./sass/helpers";
@import "./sass/_global";

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: $fony-family-raleway;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}
